---
pagination:
  data: collections.posts
  size: 12
  alias: posts
  reverse: true
permalink: "pt/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
lang: pt
---
{% include "blog/list.njk" %}
