---
permalink: "sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="https://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.all | sitemapEntries %}
  <url>
    <loc>{{ site.url }}{{ item.url | canonicalPath }}</loc>
    {% if item.date %}
    <lastmod>{{ item.date | htmlDate }}</lastmod>
    {% endif %}
    <changefreq>weekly</changefreq>
  </url>
{% endfor %}
</urlset>
