---
permalink: "sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="https://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.all | sitemapEntries %}
  <url>
    <loc>{{ site.url }}{{ item.url | canonicalPath }}</loc>
    {% set lastmod = null %}
    {% if item.data and item.data.lastmod %}
    {% set lastmod = item.data.lastmod %}
    {% elif item.data and item.data.tags and item.data.tags.indexOf("post") > -1 %}
    {% set lastmod = item.date %}
    {% endif %}
    {% if lastmod %}
    <lastmod>{{ lastmod | htmlDate }}</lastmod>
    {% endif %}
    <changefreq>weekly</changefreq>
  </url>
{% endfor %}
</urlset>
