---
pagination:
  data: i18n.languages
  size: 1
  alias: lang
permalink: "{% if lang == i18n.defaultLang %}blog/search.json{% else %}{{ lang }}/blog/search.json{% endif %}"
eleventyExcludeFromCollections: true
---
[
{% for post in collections.posts %}
  {
    "title": {{ post.data.title | json | safe }},
    "summary": {{ post.data.summary | json | safe }},
    "category": {{ post.data.category | json | safe }},
    "tags": {{ (post.data.tags | contentTags) | json | safe }},
    "brand": {{ post.data.brand | asArray | json | safe }},
    "frequency": {{ post.data.frequency | asArray | json | safe }},
    "scene": {{ post.data.scene | asArray | json | safe }},
    "url": {{ post.url | json | safe }}
  }{% if not loop.last %},{% endif %}
{% endfor %}
]
