{# HTTPS and www Redirect - Inline Script #}
<script>
(function() {
    var preferredHost = "www.gateremotesource.com";
    var currentProtocol = location.protocol;
    var currentHost = location.hostname;
    var isLocalPreview = /^(localhost|127\.0\.0\.1|0\.0\.0\.0)$/.test(currentHost);

    if (!isLocalPreview && currentProtocol !== "file:") {
        // Force HTTPS redirect
        if (currentProtocol !== "https:") {
            var httpsTarget = "https://" + currentHost + location.pathname + location.search + location.hash;
            if (httpsTarget !== location.href) {
                location.replace(httpsTarget);
            }
        } else if (currentHost !== preferredHost) {
            // Force www redirect
            var wwwTarget = "https://" + preferredHost + location.pathname + location.search + location.hash;
            if (wwwTarget !== location.href) {
                location.replace(wwwTarget);
            }
        }
    }
})();
</script>
